<head th:replace="header"></head>
<div id="wrap">
	<div id="wrap_in">
		<div id="mem_t">Member Login</div>
		<div id="mem_line"></div>
			<form action="/page/member/login" method="post">
				<div id="in_box" class="idpw_box">
					<input type="text" name="userid" maxlength="20" placeholder="사용자 아이디" required />
					<input type="password" name="userpw" maxlength="20" placeholder="사용자 비밀번호" required />
				</div>
				<span id="idpw_find"><a href="#"> 아이디나 비밀번호를 잊어버리셨나요?</a></span>
				<span id="join_mem"><a href="/page/member/join">회원가입</a></span>
				<button type="submit" value="LOGIN" id="log_box_bot">LOGIN</button>
			</form>
	</div>
</div>
</body>
</html>