<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<h2>이거슨 실검</h2>
<div id="search_box">
      <select name="catgo" id="catgo">
        <option value="title">제목</option>
        <option value="name">글쓴이</option>
        <option value="content">내용</option>
      </select>
      <input type="text" name="search" size="40" required="required" id="keyword" /> <button>검색</button>
    </div>
	  <table class="list-table">
		  <thead>
			  <tr>
				  <th width="70">번호</th>
				  <th width="500">제목</th>
				  <th width="120">글쓴이</th>
				  <th width="100">작성일</th>
				  <th width="100">조회수</th>
			  </tr>
		  </thead>
		  <tbody>
		  	<tr>
				  <th width="70"></th>
				  <th width="500"></th>
				  <th width="120"></th>
				  <th width="100"></th>
				  <th width="100"></th>
			  </tr>
		  </tbody>
		</table>
</body>
</html>