/* 공통 */
* {margin:0 auto; padding: 0; }
ul li {list-style: none;}
a {color:#333; text-decoration: none;}
img {vertical-align: top;}
.tc {text-align:center; }
.fl {float:left;}
body {}

/* 메인페이지 헤더 */
header{
	width: 100%;
}
#header_bar {
	width: 1200px;
	height: 50px;
	position:relative;
}
#logo {
	position:absolute; top: 10px;
	animation-name: navani;
	animation-duration: 2s;
}
nav {
	position: absolute;
	top:10px;
	left: 150px;
	font-family: 'Do Hyeon', 'malgun gothic';
	font-size: 23px;
	text-align: center;
}
nav li {
	float:left;
	width:140px;
	height:30px;
}
nav li:hover {
	transition: 1s;
	cursor: pointer;
}
nav li a {color:#333;}
nav > ul > li > ul {
		width:130px;
		display:none;
		font-size:14px;
		background: skyblue;
	}
nav > ul > li:hover > ul {
	display:block;	
}
nav > ul > li > ul > li:hover {
	background: orange;
	transition: ease 1s;
}
/* main */
#visual {
	width:100%;
	height:420px;
	background-image:url("../imgs/visual.jpg");
	background-size:100%, 100%;
	background-position: 80% 35%;
	animation-name: visu;
	animation-duration: 2s;
}
@keyframes visu {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#visual_t {
	font-size:46px;
	padding-top:140px;
	text-align: center;
	color:white;
	font-family: 'Jua', 'malgun gothic';
	animation-duration: 2s;
	animation-name: vis;
}
#visual_t2 {
	margin-top:10px;
	font-size:36px;
	text-align: center;
	color:white;
	font-family: 'Jua', 'malgun gothic';
	animation-name: vis;
	animation-duration: 2s;
}
@keyframes vis {
	0% {
		opacity: 0;
		padding-top:50px;
	}
	100%{
		opacity: 1;
	}
}
#main {
	width: 100%;
	margin-top:20px;
	animation-duration: 1s;
	animation-name: anmain;
}
@keyframes anmain {
	0% {
		opacity: 0;
		margin-top: -70px;
	}
	100% {
		opacity: 1;
	}
}
#main_in {
	width: 1200px;
	position: relative;
	height: 370px;
	
}
#con_lay1 {
	width:570px;
	float:left;
	padding-top:1px;
}
#con_lay2 {
	width:570px;
	float:right;
}
.con_t {
	font:bold 18px 'malgun gothic';
	color:#333;
	margin-left: 10px;
	margin-top:10px;
}	
.con_more {
	font-size:13px;
	margin-left:400px;
	color:#333;
}
.con_more a {
	color:#333;
}

.main_board {
	margin-left: 20px;
	margin-top: 30px;
}
.w60 {width:80px; } /* 번호 칸 사이즈 */
.w270 {width:270px; } /* 이름 칸 사이즈 */
.w200 {width:160px; } /* 업로드 칸 사이즈 */
.title { /* 타이틀 */
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	color:#333;
	float:left;
	text-align: center;
}
.t_top_line { /*타이틀 상단*/
	border-top:solid 2px #a06b23;
	border-bottom:solid 1px #CCC;
	} 
.t_line {border-right:solid 1px white;} /*칸 오른쪽 구분선*/
.lt_line {border-bottom:solid 1px #CCC;} /* 리스트 하단 구분선 */
.list { /* 리스트 박스*/
	height: 45px;
	line-height: 40px;
	font-size:14px;
	color:#333;
	float:left;
	text-align: center;
}
.list a {
	color:#333;
}

footer {
	width:100%;
	margin-top:15px;
	background-color:black;
}
#footer_in {
	width: 1200px;
	height: 50px;
	text-align:center;
	position: relative;
	color:white;
	line-height: 50px;
}