<head th:replace="header"></head>
<div id="list_wrap">
<aside>
	<ul id="note_menu">
		<li id="rec"><img src="/imgs/recv.png" alt="recv" title="recv" /><a href="#"><b>받은쪽지함</b></a></li>
		<li id="send"><img src="/imgs/send.png" alt="recv" title="recv" /><a href="#">보낸쪽지함</a></li>
	</ul>
</aside>
<div id="main_in">
	<table class="list-table">
    <thead>
      <tr>
        <th width="50" class="tc"><input type="checkbox" /></th>
        <th width="150" class="tl">보낸사람</th>
        <th width="600" class="tl">내용</th>
        <th width="200" class="tc">날짜</th>
      </tr>
    </thead>
        <tbody>
          <tr th:each="i : ${getList}">
            <td class="tc"><input type="checkbox" /></td> <!---체크박스 -->
            <td th:text="${i.send_id}"></td> <!---보낸이 -->
            <td class="link_read"><a th:href="@{'/page/note/read/'+${i.idx}}" th:text="${i.title}"></a></td> <!---제목 -->
            <td class="tc" th:text="${i.send_date}"></td> <!---보낸시간 -->
          </tr>
        </tbody>
    </table>
    <div id="note_bt">
      <ul>
        <li id="wri_m_bt"><a href="#">쪽지쓰기</a></li>
      </ul>
    </div>
  </div>
 </div>
 <script src="/js/common.js"></script>