<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Log</title>
</head>
<body>
	<h1>웹 업데이트 로그</h1>
	<h2 style="color:red;">Git커밋, 내역은 매일00시, 15시, 21시 또는 필요시 업데이트합니다.<br /><span style="color:black; font-size:20px;"></span></h2>
	<br />
	
	<h3>중요알림!!</h3>
	<p style="color:red;"></p>
	<br />
	
	<h3>현재 완료(5월 20일 01시)</h3>
	<div style="line-height:10px;">
	<p>- 안드로이드, 스프링 웹 통신</p>
	<p>- 회원가입 및 Spring Security 로그인(JPA로씀)</p>
	<p>- 빈 페이지 링크(일부 차단함 오류 남발)</p>
	<p>- JPA->Mybatis전환</p>
	
	</div>
	<br />
	
	<h3>진행 예정[일시중단]</h3>
	<div style="line-height:10px;">
	<p>- 커뮤니티(클럽, SNS, 인원모집)</p>
	<p>- 라이딩-인원모집</p>
	<p>- 비밀번호 암호화</p>
	<p>- jwt</p>
	</div>
	
	<br />
	<h3>미완료</h3>
	<div style="line-height:10px;">
	<p>- 라이딩 코스 관련</p>
	<p>- 정비</p>
	<p>- 마이페이지</p>
	<p>- 페이지 축소시 깨짐 현상(우선순위-하)</p>
	</div>
</body>
</html>