<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
<title>Spring 쪽지</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" href="/common.css" />
</head>
<body>
<div id="main_head">
	<div id="main_head_in">
		<span id="main_t"><a href="/">Spring 쪽지</a></span>
		<p id="mem_log">님 환영합니다. <span id="mlog"><a href="/logout">로그아웃</a></span></p>
	</div>
</div>